---
import { features } from "@/data/features.json";

import "@/styles/features.css";

const iconImports = {
  "@/icons/docs.astro": await import("@/icons/docs.astro"),
  "@/icons/book.astro": await import("@/icons/book.astro"),
  "@/icons/trophy.astro": await import("@/icons/trophy.astro"),
  "@/icons/web.astro": await import("@/icons/web.astro")
};
---

<section class="features">
  <h2 class="features__title">
    Todo lo que necesitas para obtener los mejores resultados
  </h2>
  <div class="features__section">
    <!-- No se si se me rompa la app, pero funciona esto :DDD -->
    {
      features.map((feature) => {
        const IconComponent = iconImports[feature.icon as keyof typeof iconImports].default;

        return (
          <div class="feature__content">
            <a href="/" class="feature__content-ancler">
              <IconComponent width="80" height="80" />
              <span>{feature.title}</span>
              <p>{feature.description}</p>
            </a>
          </div>
        );
      })
    }
  </div>
</section>