---
import "@/styles/hero.css";

import ImageMaths from "@/icons/imageMaths.astro";
---

<div class="hero">
  <div class="hero__content">
    <h1 class="hero__title">
      Notas rápidas, seguras y accesibles desde cualquier lugar
    </h1>
    <p class="hero__subtitle">
      Crea notas rápidas y accede a ellas desde cualquier lugar
    </p>
    <div class="btns">
      <a href="/notes" class="btn__hero btn__hero-1">
        <button>Comienza ahora</button>
      </a>
      <a href="/es/contact-es" class="btn__hero btn__hero-2">
        <button>Ver demo</button>
      </a>
    </div>
  </div>
  <ImageMaths width="600" height="600" />
</div>
